<div class="w-100">
  <div class="container-footer">
    <div>
      <span>Developed by Enzo Chacin</span>
    </div>
    <div class="d-flex">
      <button (click)="openWindow('https://github.com/EnzoAndresFarisCh')">
        <object type="image/svg+xml" data="assets/icons/github_logo_contrast.svg" width="100" height="100"></object>
      </button>
      <button (click)="openWindow('https://www.linkedin.com/in/enzo-andres-farias-chacin-87015b22b/')">
        <object type="image/svg+xml" data="assets/icons/linkedin.svg" width="100" style="width: 28px;" height="100"></object>
      </button>
      <button (click)="openWindow('https://www.instagram.com/enzo_fariasch/')">
        <object type="image/svg+xml" data="assets/icons/instagram.svg" width="100" height="100"></object>
      </button>
    </div>

  </div>
</div>
